html,body{margin: 0px; padding: 0px; height: 100%;}
body{background-color: #1e938b !important; color: #717171 !important;}
/*header{position: relative;  height: 60%; width: 100%; overflow: hidden;}*/
header{position: relative; width: 100%; overflow: hidden;}
.menu{position: relative; z-index: 10;}
.logo{position: relative; z-index: 10;}
.slider{position: relative; top: -160px; left: 0; z-index: 0; width:100%; margin-bottom:-160px;}
.nav-bar{min-height: 45px; background-color: rgba(20, 115, 107, 0.8); /* Color white with alpha 0.9*/ padding: 12px 0px 0px 0px; color: #fff; font-weight: lighter; position: relative; z-index: 10;}
ul#main-nav{margin: 40px 0px 0px 0px; padding: 0px; text-align: right;}
ul#main-nav li{margin: 0px 0px 0px 35px; padding: 0px; display: inline; font-weight: lighter;}
ul#main-nav li a{margin: 0px; padding: 0px; color: #fff;}
.spacer{ height:5px; background: #fe8b47; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlOGI0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzc5YTU4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZWI2YWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #fe8b47 0%, #79a581 52%, #0eb6ae 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fe8b47), color-stop(52%,#79a581), color-stop(100%,#0eb6ae)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #fe8b47 0%,#79a581 52%,#0eb6ae 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #fe8b47 0%,#79a581 52%,#0eb6ae 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #fe8b47 0%,#79a581 52%,#0eb6ae 100%); /* IE10+ */
background: linear-gradient(to right,  #fe8b47 0%,#79a581 52%,#0eb6ae 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8b47', endColorstr='#0eb6ae',GradientType=1 ); /* IE6-8 */
}
.white{background-color: #fff;}
.orange{background: #ee8548; color: #fff;}
.teal{background-color: #17aa9f; color: #fff;}
.light{background-color: #f4f4f4;}
.jobbox{background-color: #fff; margin: -110px 0px 0px 0px; padding: 0px 0px 40px 0px; text-align: center; border-top: 4px solid #f2a071; border-left: 1px solid #ececec; border-bottom: 1px solid #ececec;  border-right: 1px solid #ececec;}
.jobbox h3{font-family: serif; color: #545454; margin-bottom: 30px; background-image: url('images/dashline.png'); background-position: center bottom; background-repeat: no-repeat; padding-bottom: 30px;}
.jobbox ul{margin: 0px; padding: 0px;}
.jobbox ul li{list-style-type: none; margin: 10px 0px; padding: 10px 0px; font-family: serif; font-size: 16px; background-image: url('images/dashline.png'); background-position: center bottom; background-repeat: no-repeat; padding-bottom: 30px;}
.jobbox ul li.last{background: none;}
.jobbox ul li a{}
.jobbox ul li .category{font-size: 12px; font-family: sans-serif; color: #008e85; text-transform: uppercase; margin-bottom: 5px;}
section{padding: 60px 0px 60px 0px; clear: both !important;}
.intro h2{font-size: 14px; text-transform: uppercase; color: #ec7834; font-weight: lighter; margin: 0px 0px 20px 0px;}
.intro img{margin-bottom: 30px;}
.intro p{font-family: serif; font-size: 16px;}
.centered{text-align: center;}
.highlight{background-image: url('images/cityscape.png'); background-repeat:repeat-x; background-position: center bottom; padding: 20px 0px 0px 0px; position: relative;}
.highlight h2{color: #ef6a1c; font-family: serif; margin: 40px 0px 30px 0px; font-style: italic; background-image: url('images/dash.png'); background-position: center bottom; background-repeat: no-repeat; padding: 0px 0px 35px 0px;}
.highlight p{font-size: 20px; font-style: italic; font-family: serif; margin-bottom: 40px;}
.highlight button{margin-bottom: 240px;}
.highlight img{text-align: center; clear: both; position: absolute; bottom: 0px; left: 20%;}
.newsletter p{font-family: sans-serif; font-size: 12px; color: #fff; font-weight: lighter; margin-bottom: 20px; line-height: 18px;}
.newsletter form{}
.newsletter label{ font-size: 12px; color: #09645c; font-weight: lighter;}
.newsletter input{width:100% !important ; float: left; margin: 0px; padding: 6px 0px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; border: none; text-indent: 10px;}
.newsletter button{margin: 20px 0px 0px 0px;padding: 10px 30px;}
.bottom h4{border-bottom: 1px solid #e57f41; color: #fff; font-weight: lighter; font-family: sans-serif; font-size: 18px; padding: 0px 0px 15px 0px; margin-bottom: 20px;}
.foot{background-color: #14736b; padding: 22px 0px;}
.copyright{padding: 20px 0px; color: #fff; font-size: 11px; font-family: sans-serif; font-weight: lighter;}
ul#footer-nav{display: inline; margin: 0px; padding: 0px;}
ul#footer-nav li{display: inline; margin: 0px 50px 0px 0px; font-family: sans-serif; font-size: 13px; font-weight: lighter;}
ul#footer-nav li a{color: #fff !important;}
ul#featured-articles{display:block; margin: 30px 0px 0px 0px; padding: 0px;}
ul#featured-articles li{list-style-type: none; margin: 0px 0px 25px 0px; padding: 0px;}
ul#featured-articles li img{float: left;  margin: 0px; padding: 0px 15px 0px 0px; display: block;}
ul#featured-articles li .headline{ font-size: 14px; color: #fff; font-weight: lighter; margin: 0px; padding: 0px; display: block;}
ul#feautred-articles li .headline a{color: #fff; display: block;}
ul#featured-articles li .date{font-size: 11px; color: #0ddacb; margin-bottom: 8px;}
ul#featured-articles li .excerpt{font-size: 13px; color: #fff; font-weight: lighter; display: block;}
ul#featured-articles li .excerpt a{color: #fff; text-decoration: none;}
button{margin: 0px; padding: 12px 45px; border: none;   -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; font-size: 13px !important;}
.main .excerpt{font-size: 24px; color: #247c75; line-height: 36px;margin-bottom: 30px; font-weight: lighter;}
.main h3{font-size: 18px; font-weight: lighter; color: #222; margin-bottom: 20px;}
.left-col{border-right: 1px solid #eaeaea; padding: 0px 50px 0px 0px;}
.left-col h2,.main h2{font-size: 32px; font-weight: lighter; color: #f7742c; margin-bottom: 12px;}
.left-col p,.main p{line-height: 24px; margin-bottom: 20px;}
.right-col{padding: 0px 0px 0px 50px;}
.titlearea{padding: 0px 0px 10px 0px; background-image: url('images/titlearea2.png'); background-repeat: no-repeat; background-size: cover;}
.titlearea h1{font-size: 28px; color: #fff; font-weight: lighter;}
.alignright{float: right; margin: 10px 0px 10px 15px;}
.jobs-list h2{font-size: 19px; margin: 10px 0px 2px 0px; border: none; color:#ee8548;}
.jobs-list h2 a{color: #0f7ab1; text-decoration: none;}
.jobs-list p{font-size: 14px; font-weight: lighter;}
.jobs-list{padding: 10px 20px; position: relative;}
.widget{margin-bottom: 30px;}
.widget h4{font-size: 18px; font-weight: lighter; color: #F7600D; border-bottom: 1px solid #eaeaea; line-height: 28px; margin: 10px 0px 0px 0px;}
ul#jobslist{margin: 30px 0px 0px 0px; padding: 0px;}
ul#jobslist li{display: block; list-style-type: none; font-size: 14px; margin: 0px 0px 20px 0px; padding: 0px 0px 15px 0px; border-bottom: 1px dashed #448a85;}
ul#jobslist li:before{content: "\24"; font-family: 'ElegantIcons'; font-size: 13px; margin: 0px 4px 0px 0px;  color: #F7600D;}
ul#jobslist li a{color: #444; font-weight: normal; margin: 0px 0px 10px 0px;}
ul#jobslist li a:hover{color: #ee8548; font-weight: normal; margin: 0px 0px 10px 0px; text-decoration: none;}
ul#jobslist li .date{color: #17aa9f; font-size: 12px; margin: 5px 0px 0px 0px;}
.postedby{padding: 4px 0px 4px 0px; margin: -10px 0px 30px 0px; font-size: 12px; color: #a2a2a2; font-style: italic; border-bottom: 1px solid #e9e9e9;}
.social-icons{ float: right; border-left: 1px solid #01beb6; padding: 0px 0px 0px 30px;}
.social-icons span{color: #fff; font-family: 'ElegantIcons'; float: left; text-decoration: none; font-size: 1.2em;line-height: 1; content: ""; margin: 0px 0px 0px 3px;}
.social-icons span:before{display: none !important;}
.call{float: right;}
.breadcrumbs {color: #fff;}
.breadcrumbs a{color: #fc6a14;}
.alternate{margin: 15px 0px;}
.location,.type{position: absolute; top: 40px;}

/*makes the slider occupy 100% of parent element*/
/*.sy-box, .sy-slide > a,.sy-slide > a > img{
	height:100%;
}*/

@media(max-width:767px){
	.slider{top: -227px; margin-bottom:-227px;}
}
@media(min-width:768px){
	.slider{top: -227px; margin-bottom:-227px;}
}
@media(min-width:992px){
	.slider{top: -227px;  margin-bottom:-227px;}
}
/*@media(min-width:1200px){
	.slider{position: relative; top: -160px; left: 0; z-index: 0; width:100%; margin-bottom:-160px;}
}*/